{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/admin-prod.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'admin_color.css' %}"/>
{% endblock %}


{% block extrastyle %}
<style>
    #header {
        background-color:black;
    }
    .module h2, .module caption, .inline-group h2 {
        background-color:black;
    }
</style>
{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>

{% endblock %}

{% block content_title %}{% if title %}<h1> Bookflix </h1>{% endif %}{% endblock %}

{% block nav-global %}{% endblock %}
