{% extends 'header.html' %}
  {% block link %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock%}
    {% block estilos %}
           #boton_personalizado{
              text-decoration: none;
              padding: 10px;
              font-weight: 400;
              font-size: 12px;
              color: #ffffff;
              background-color: black;
              border-radius: 4px;
              font-family: "Roboto";
            }
    {% endblock %}

{% block contenido %}
    {% if libro_asociado %}
        <h1> Capitulo asociado a libro {{libro_asociado.titulo}}</h1>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{errores}}
        {{formulario.as_p}}
        <input id="boton_personalizado" type="submit" value="Guardar" />
        {% if modelo == capitulo %}
            <a id=boton_personalizado  href="/listado_capitulo/id={{libro_asociado.id}}">  Cancelar  </a>
        {% else %}
            <a id=boton_personalizado  href="/listado_{{modelo}}">  Cancelar  </a>
        {% endif %}
    </form>

    <script>
        "Se hace en capitulo"
        checkbox = document.getElementById("archivo_pdf-clear_id");
        checkbox.style.display = "none"; //Oculta el checkbox
        tag = document.getElementsByTagName("label");
        for (i = 0; i < tag.length; i++){ //Oculta el label limpiar
         if(tag[i].textContent == "Limpiar"){
                tag[i].style.display = "none";
           }
        }

    </script>
{% endblock %}