{% extends "detalle.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}


{% block detalle %}

<!--INFORMACION DEL LIBRO-->
{% if objeto_pagina %}
{% for libro in objeto_pagina %}
<!------------------------------------------------------------------------------------------------------------------>
<!--INFORMACION DEL LIBRO-->
<div class="container">
    <div class="row">
        <div class="col-lg-4 ">
            <br>
            <br>
            <br>
            <img src="{% if libro.foto %}{{MEDIA_URL}}{{libro.foto.url}}{% else %}/static/foto_por_defecto.jpeg{% endif %}"
                 style="width:214; height:340"/>

            <div>
                <br>
                {% if libro.promedio_puntaje.total == None %}
                No tiene votaciones
                {% else %}
                <span class="badge badge-primary badge-pill">{{libro.promedio_puntaje.total}}</span>
                {% endif %}

            </div>
            <!-------------- Reseña ------------------------------->
            <div>
                <br>
                {% if terminado %}
                {% if not fue_resenado %}
                <button type="button" class="btn btn-outline-success">
                    <a href="/resenar_libro/id={{libro.id}}" style="color:green"> Reseñar Libro </a>
                </button>
                {% else %}
                <p>  Ya fue resenado </p>
                {% endif %}
                {% endif %}
            </div>
            <!--  ----------------------------------------- -->

        </div>

        <div class="col-lg-8">
            <ul style="list-style:none">
                <li><h1>{{libro.titulo}}</h1></li>
                <li><h6>{{libro.autor}}</h6></li>
                {% if libro.descripcion %}
                <li><p class="font-weight-light">{{libro.descripcion}}.</p></li>
                {% endif %}
                <li>
                    <table class="table table-hover table-dark">
                        <tbody>
                        <tr>
                            <td>ISBN:</td>
                            <td>{{libro.ISBN}}</td>
                        </tr>

                        <tr>
                            <td>Editorial:</td>
                            <td>{{libro.editorial}}</td>
                        </tr>

                        <tr>
                            <td>Genero:</td>
                            <td>{{libro.genero}}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<!------------------------------------------------------------------------------------------------------------------>
<!--BOTONES-->
<div class="btn-group" role="group" aria-label="Basic example">
    {% if libro.tiene_capitulos %}

    <button type="button" class="btn btn-secondary">
        <a href="/listado_capitulo/id={{libro.id}}" style="color:white"> Ver listado de capítulos</a>
    </button>
    {% endif %}
    {% if not request.user.is_staff %}
    {% if libro.esta_completo %}
    <button type="button" class="btn btn-secondary">
        <a href="/lectura_completo/id={{libro.id}}" style="color:white"> Leer libro</a>
    </button>
    {% endif %}
    {% if not error %}
    <!--EL LIBRO PUEDE SER MARCADO COMO TERMINADO-->
    <button type="button" class="btn btn-secondary">
        <!--
        <form method="GET" action="/marcar_como_terminado/id={{libro.id}}">
            <input value="marcar como terminado" style="background-color:rgba(0, 0, 0, 0); color:white; border: none; outline:none; ">
        </form>
        -->

        <form method="GET" action="/marcar_como_terminado/id={{libro.id}}">
            <input type="submit" value="marcar como terminado"
                   style="color:white;background-color:rgba(0, 0, 0, 0);border: none; outline:none;">
        </form>
    </button>
    {%else%}
    <!--SI NO LEYO EL LIBRO-->
    <button type="button" class="btn btn-secondary" onclick="alerta_error()" id="terminar" value="{{error}}">
        <a href="#" style="color:white"> Marcar como terminado</a>
    </button>
    {% endif %}
    {% if not lo_tengo_como_favorito %}
    <button type="button" class="btn btn-secondary">
        <a href="/agregar_favorito/id={{libro.id}}" style="color:white"> Agregar a favoritos </a>
    </button>
    {% else %}
    <button type="button" class="btn btn-secondary">
        <a href="/quitar_de_favorito/id={{libro.id}}" style="color:white"> Quitar de favoritos </a>
    </button>
    {% endif %}
    {% endif %}
</div>
<hr>
<!------------------------------------------------------------------------------------------------------------------>
<!--DIV-->
</div></div> <!--ESTOS DOS DIV SON DE detalle.html PARA QUE ESTE CENTRALIZADO-->
<br><br>
<!------------------------------------------------------------------------------------------------------------------>
<!--TRAILER-->
{% if trailers %}
<div class="list-group">
    <div class="p-3 mb-2 bg-danger text-white"><h2>Trailers del libro</h2></div>
    <ul style="list-style:none; margin-left:500px">
        <li>
            {% if trailers.has_previous %}
            <a href="?page={{trailers.previous_page_number}}"> {{trailers.previous_page_number}} </a>
            {% endif %}
            <span>  {{ trailers.number }}  </span>
            {% if trailers.has_next %}
            <a href="?page={{trailers.next_page_number}}"> {{trailers.next_page_number}} </a>
            {% endif%}
        </li>
    </ul>
    <ul style="list-style:none;">
        {% for trailer in trailers %}

        <li><a href="/detalle_trailer/id={{trailer.id}}" class="list-group-item list-group-item-action">{{trailer.titulo}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!------------------------------------------------------------------------------------------------------------------>
<!--LIBROS SIMILARES-->

<div>
    {% if libros_similares %}
    <div class="p-3 mb-2 bg-danger text-white"><h2> Libros similares que podrian gustarte</h2></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            {% for libro in libros_similares %}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active" align="center">
                <a href="/detalle_libro/id={{libro.id}}" style="color:white">
                    <img class="d-block w-"
                         src="{% if libro.foto %}{{MEDIA_URL}}{{libro.foto.url}}{% else %}/static/foto_por_defecto.jpeg{% endif %}"
                         style="width:214; height:340"/>
                    <label style="color:black">{{libro.titulo}} de {{libro.autor}}</label>
                </a>
            </div>
            {% else %}
            <div class="carousel-item" align="center">
                <a href="/detalle_libro/id={{libro.id}}" style="color:white">
                    <img class="d-block w-" alt="{{libro.titulo}} de {{libro.autor}}"
                         src="{% if libro.foto %}{{MEDIA_URL}}{{libro.foto.url}}{% else %}/static/foto_por_defecto.jpeg{% endif %}"
                         style="width:214; height:340"/>
                    <label style="color:black">{{libro.titulo}} de {{libro.autor}}</label>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <a style=" height: 100px;  width: 100px;  outline: red;  background-size: 100%, 100%;  border-radius: 50%;  border: 1px solid red;  background-image: none; color:red"
           class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span style="  content: '<';  font-size: 55px;  color: red;background-color:black;border-color:red;"
              class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span style="  content: '<';  font-size: 55px;  color: red;background-color:black;border-color:red;"
                  class="sr-only">Previous</span>
        </a>

        <a style=" height: 100px;  width: 100px; outline: red;  background-size: 100%, 100%;  border-radius: 50%;  border: 1px solid red;  background-image: none;color:red"
           class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span style="  content: '>';  font-size: 55px;  color: red;background-color:black"
              class="carousel-control-next-icon" aria-hidden="true"></span>
            <span style="  content: '>';  font-size: 55px;  color: red;background-color:black"
                  class="sr-only">Next</span>
        </a>

    </div>
    {% endif %}
</div>
<br><br>
<!------------------------------------------------------------------------------------------------------------------>
<!--RESEÑAS-->
<script>
    function alertar(error){
       alert(error);
    }
    function alerta_error(){
        let error = document.getElementById('terminar').value;
        alert(error);
    }
    function revelar_spoiler(id_spoiler){
        console.log('ID '+id_spoiler);
        console.log(document.getElementById('spoiler'+id_spoiler));
        document.getElementById('spoiler'+id_spoiler).style.display = "none";
        document.getElementById('revelar'+id_spoiler).style.display = "block";
        document.getElementById('boton_revelar'+id_spoiler).style.display = "none";
    }
    function desplegar_resenas(){
        document.getElementById('listado_resenas').style.display = 'block';
    }












</script>


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Ver reseñas
</button>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div align="center">
            <div class="list-group">
                <div class="p-3 mb-2 bg-danger text-white"><h2>Reseñas del libro</h2></div>
            </div>
            <br>


            <!------------------------------------------------------------------------------------------------------------------>
            <!--RESEÑA DEL PERFIL-->

            <div align="center">
                {% if not request.user.is_staff %}
                {% if resena_perfil %}
                <div class="card border-primary mb-3" style="max-width: 40rem;">
                    <div class="card-header">
                        <a onclick="return confirm('Desea eliminar esta reseña')"
                           href="/eliminar_reseña/id={{resena_perfil.id}}">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                        <button type="button" class="close" aria-label="Close" disabled>
                            <span aria-hidden="true"> | </span>
                        </button>
                        <a href="/modificar_reseña/id={{resena_perfil.id}}">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">Modificar</span>
                            </button>
                        </a>
                        <br>
                        <h3>Tu reseña</h3>
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">Valoración: {{resena_perfil.valoracion}} </h5>
                        <p class="card-text" style="color:black">
                            {% if resena_perfil.comentario %}
                            {{resena_perfil.comentario.texto}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
            <!------------------------------------------------------------------------------------------------------------------>
            <!--RESEÑAS OTROS USUARIOS-->
            {% if resenas %}
            <!------------------------------------------------------------------------------------------------------------------>
            <!--PAGINACION-->
            <div align="center">
                <ul style="list-style:none; float:left;">
                    <li></li>
                    <li>
                        {% if resenas.has_previous %}
                        <a href="?page={{resenas.previous_page_number}}"> {{resenas.previous_page_number}} </a>
                        {% endif %}
                        <span>  {{ resenas.number }}  </span>
                        {% if resenas.has_next %}
                        <a href="?page={{resenas.next_page_number}}"> {{resenas.next_page_number}} </a>
                        {% endif%}
                    </li>
                </ul>
                <ul style="list-style:none;"></ul>
            <br><br>
            </div>
            <!------------------------------------------------------------------------------------------------------------------>
            <!--FOR-->
            <div align="center">
            {% for resena in resenas %}

            {% if resena.comentario.spoiler %} <!--es spoiler-->
            <div class="card border-danger mb-3" style="max-width: 40rem;">

                {% if request.user.is_staff %} <!--es admin-->
                <div class="card-header">
                    <a href="/admin/modelos/calificacion/{{resena.id}}/delete/">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                    {% if resena.comentario.spoiler_admin %}
                        <a href="/desmarcar_comentario_spoiler/{{resena.comentario.id}}/{{libro.id}}">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">Desmarcar como Spoiler</span>
                            </button>
                        </a>
                    {% endif %}
                    <br>
                    <h3>
                        {% if resena.perfil_califico %}
                        {{resena.perfil_califico.nombre_perfil}}
                        {% else %}
                        Perfil borrado
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body text-danger">
                    <p style="color:black">
                        Valoración: {{resena.valoracion}}
                    </p>
                    <h5 class="card-title">SPOILER </h5>
                </div>
                <p class="card-text">
                    {{resena.comentario.texto}}
                </p>

                {% else %} <!--es perfil-->
                <div>
                    <div class="card-header">
                        <button type="button" class="close" aria-label="Close" data-toggle="collapse"
                                data-target="#abrirSpoiler{{resena.id}}" aria-expanded="false"
                                aria-controls="collapseExample">
                                        <span aria-hidden="true">
                                            Revelar Spoiler
                                        </span>
                        </button>
                        <br>
                        <h3>
                            {% if resena.perfil_califico %}
                            {{resena.perfil_califico.nombre_perfil}}
                            {% else %}
                            Perfil borrado
                            {% endif %}
                        </h3>
                    </div>
                    <div class="card-body text-danger">
                        <h5 class="card-title">Valoración: {{resena.valoracion}} </h5>
                    </div>

                    <p class="card-text">
                    <div class="collapse" id="abrirSpoiler{{resena.id}}">
                        {{resena.comentario.texto}}
                    </div>
                    </p>
                </div>
                {% endif %}
            </div>
            {% else %} <!--NO ES SPOILER-->
            <div class="card border-secondary mb-3" style="max-width: 40rem;">
                <div class="card-header">
                    {% if request.user.is_staff %}
                    <a  href="/admin/modelos/calificacion/{{resena.id}}/delete/">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                    <a href="/marcar_comentario_spoiler/{{resena.comentario.id}}/{{libro.id}}">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">Marcar como Spoiler</span>
                        </button>
                    </a>
                    {% endif %}
                    <br>
                    <h3>
                        {% if resena.perfil_califico %}
                        {{resena.perfil_califico.nombre_perfil}}
                        {% else %}
                        Perfil borrado
                        {% endif %}
                    </h3>
                </div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">Valoración: {{resena.valoracion}}</h5>
                    <p class="card-text">{{resena.comentario.texto}}</p>
                </div>
            </div>

            {% endif %}
            {% endfor %}
            </div>
        </div>
        {% else %} <!--NO HAY RESEÑAS-->
        <h1> No hay reseñas</h1>
        {% endif %}
    </div>
</div>
</div>

{% endfor %}
{% endif %}
{% endblock %}