{% extends "detalle.html" %}
{% load static %}
{% block detalle %}
    <ul style="list-style:none;">
        {% if objeto_pagina %}
            {% for trailer in objeto_pagina %}
                <li>
                    <h1> Titulo </h1> {{trailer.titulo}}
                </li>
                <li>
                    <h1> Descripcion</h1>
                    {{trailer.descripcion}}
                </li>
                {% if trailer.libro_asociado %}
                  <li> <h1>Asociado a libro: {{trailer.libro_asociado}}</h1></li>
                {% endif %}
                {% if trailer.video %}
                <li>
                    <video width="320" height="240" controls>
                        <source src="{{trailer.video.url}}" type="video/mp4">
                    </video>
                  </li>
                {% endif %}
        {% endfor %}
        {% endif %}

{% endblock %}
