{% extends "detalle.html" %}
{% load static %}
{% block detalle %}
    <ul style="list-style:none;">
        {% if objeto_pagina %}
            {% for trailer in objeto_pagina %}
                {{trailer}}
                <li> <h1> Trailer {{titulo}} </h1> </li>
                <li> <h1> Trailer {{descripcion}}</h1> </li>
                {% if trailer.libro_asociado %}
                  <li> <h1>Asociado a libro: {{trailer.libro_asociado}}</h1></li>
                {% endif %}
                {% if video %}
                  <li>
                    <video width="320" height="240">
                        <source src="{% static video %}">
                    </video>
                  </li>
                {% endif %}
        {% endfor %}
        {% endif %}

{% endblock %}
