{% extends "detalle.html" %}
{% load static %}
  {% block estilos %}
        #boton_personalizado{
          text-decoration: none;
          padding: 10px;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          background-color: black;
          border-radius: 4px;
          font-family: "Roboto";
        }
        #imagen_detalle {
            width:250px;
            height: 250px;
        }
    {% endblock %}
{% block detalle %}
    <ul style="list-style:none;">
        {% if objeto_pagina %}
            {% for libro in objeto_pagina %}
                <li>
                    <h1> Titulo: </h1> {{libro.titulo}}
                </li>
                <li>
                    <h1> ISBN: </h1> {{libro.ISBN}}
                </li>
                {% if libro.descripcion %}
                <li>
                    <h1> Descripcion </h1> {{libro.descripcion}}
                </li>
                {% endif %}

                <li>
                    <h1> Autor </h1> {{libro.autor}}
                </li>
                <li>
                    <h1> Editorial </h1> {{libro.editorial}}
                </li>
                <li>
                    <h1> Genero </h1> {{libro.genero}}
                </li>
                {% if libro.foto %}
                <li>
                   <img id="imagen_detalle" src="{{MEDIA_URL}}{{libro.foto.url}}" />
                </li>
                <br>
                {% endif %}
                {% if not request.user.is_staff %}
                    {% if libro.esta_completo %}
                         <a id="boton_personalizado" href="/lectura_completo/id={{libro.id}}"> Leer libro completo</a>
                         <br> <br>
                    {% else %}
                        <button>
                            <a href="/listado_capitulo/id={{libro.id}}"> Ver listado de capítulos</a>
                        </button>
                    {% endif %}
                    {% if not error %}
                        <form method="GET" action="/marcar_como_terminado/id={{libro.id}}">
                            <input type="submit" value="marcar como terminado" >
                        </form>
                     {%else%}

                               <button onclick="alerta_error()" id="terminar" value="{{error}}">
                                   marcar como terminado
                             </button>

                            <script>
                                    function alerta_error(){
                                        let error = document.getElementById('terminar').value;
                                        alert(error);
                                    }
                            </script>

                     {% endif %}
                     <h2>Trailers del libro</h2>
                    {% for trailer in libro.trailers %}
                        <li>
                             {{trailer.titulo}} <a href="/detalle_trailer/id={{trailer.id}}"> Ver trailer</a>
                        </li>
                    {% endfor %}

                    <h2> Libros similares que podrian gustarte</h2>
                    {% for libro_similar in libros_similares %}
                        <li>
                            {{libro_similar.titulo}} <a href="/detalle_libro/id={{libro_similar.id}}"> Ver libro_similar</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}

        {% endif %}
{% endblock %}