{% extends "detalle.html" %}
{% load static %}
{% block detalle %}
<div  align="center">
<ul style="list-style:none">
    {% if objeto_pagina %}
        {% for trailer in objeto_pagina %}
            <li>
                <h1> {{trailer.titulo}} </h1>
            </li>
            <li>
                <p class="font-weight-light">{{trailer.descripcion}}.</p>
            </li>

            {% if trailer.libro_asociado %}
                <h3>Asociado a libro:</h3>
                <li>
                    {{trailer.libro_asociado}}
                </li>
            {% endif %}
            {% if trailer.pdf %}
                <button type="button" class="btn btn-dark">
                    <a href="/media/{{trailer.pdf}}#toolbar=0" style="color:white"> Ver Pdf</a>
                </button>

            {% endif %}


            {% if trailer.video %}
                <li>
                    <video width="320" height="240" controls>
                        <source src="{{trailer.video.url}}" type="video/mp4">
                    </video>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
</div>

{% endblock %}
