{% load static %}
<head> {% block link %} {% endblock %} </head>

<div class="container-fluid" style="margin: 0px;" >

  <div class="row" style=" height: 70px; background-color: #1c1c1f;">

      <div class="col-sm-8">
        <img src="{% static 'bookflix.png' %}" style="width:200px; padding-top:10px; margin-right:2px;">

      </div>

      <div class="col-sm-4">
        <ul style="list-style:none; padding-top: 20px;">
          <li style="padding-left:10px; display:inline;"> <a href="/iniciar_sesion/" style="text-decoration: none;">   Loguearse  </a>   </li>
          <li style="padding-left:10px; display:inline;"> <a href="/registro/" style="text-decoration: none;">         Registrarse </a>  </li>
          <li style="padding-left:10px; display:inline; ">> <a href="#" style="text-decoration: none;">                Ayuda       </a>  </li>
        </ul>
      </div>
  </div>        
</div>

{% block contenido %}

{% endblock%}
