{% extends "header.html"%}
{% block contenido %}

<div class="list-group">
    <a  href="/listado_trailer/" class="list-group-item list-group-item-action">Ver listado Trailers</a>
    <a href="/listado_novedad/" class="list-group-item list-group-item-action">Ver listado Novedades</a>
    <a href="/listado_libro/" class="list-group-item list-group-item-action">Ver listado Libros</a>
    <a href="/listado_autor/" class="list-group-item list-group-item-action">Ver listado Autores</a>
    <a href="/listado_genero/" class="list-group-item list-group-item-action">Ver listado Genero</a>
    <a href="/listado_editorial/" class="list-group-item list-group-item-action">Ver listado Editoriales</a>
    <a href="/reporte_libros/" class="list-group-item list-group-item-action">Ver reporte de libros leidos</a>
    <a href="/reporte_suscriptores/" class="list-group-item list-group-item-action">Ver reporte de suscriptores</a>
</div>
{% endblock %}
