{% extends "header.html"%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block link %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock%}
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% block contenido %}
        <ul>
            <li> <a href="/listado_novedades/">   Ver listado Novedades        </a> </li>
            <li> <a href="/listado_libros/">      Ver listado Libros           </a> </li>
            <li> <a href="/listado_autores/">     Ver listado Autores          </a> </li>
            <li> <a href="/listado_generos/">     Ver listado Generos          </a> </li>
            <li> <a href="/listado_editoriales/"> Ver listado Editoriales      </a> </li>
        </ul>
      {% endblock %}
  </body>
</html>
