{% extends "header.html" %}


    {% block contenido %}
      {% if request.user.is_staff %}
        {% block agregar_atributo %} {% endblock %}
      {% endif %}

      {% if objeto_pagina %}
        <ul style="list-style:none; margin-left:500px">
          <li>
            {% if objeto_pagina.has_previous %}
              <a href="?page={{objeto_pagina.previous_page_number}}"> {{objeto_pagina.previous_page_number}}    </a>
            {% endif %}
            <span>  {{ objeto_pagina.number }}  </span>
            {% if objeto_pagina.has_next %}
              <a href="?page={{objeto_pagina.next_page_number}}">  {{objeto_pagina.next_page_number}}  </a>
            {% endif%}
          </li>
        </ul>
        <ul style="list-style:none;">
          {% block listado %} {% endblock %}
        </ul>

      {% else %}

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4" style="padding-left:35%">No hay {{modelo}}</h1>
          </div>
        </div>


      {% endif %}
    {% endblock %}

  </body>
</html>
