{% extends "listado.html" %}

<br> <h2> Listado de capitulos nombre del libro </h2> <br>

{% block listado %}
<div>
    <div class="list-group">
        <div class="p-3 mb-2 bg-danger text-white"><h2>Capítulos del libro: {{libro.titulo}}</h2></div>

        {% for capitulo in objeto_pagina %}
            {% if capitulo.esta_lanzado %}
                {% if capitulo.esta_vencido %}
                    <a href="#" class="list-group-item list-group-item-action disabled">capitulo: {{capitulo.capitulo}} (capitulo vencido)</a>
                {% else %}
                    {% if not request.user.is_staff %}
                        <a href="/lectura_capitulo/id={{capitulo.id}}" class="list-group-item list-group-item-action">capitulo: {{capitulo.capitulo}}</a>
                    {% else %}
                        <a href="#" class="list-group-item list-group-item-action">capitulo: {{capitulo.capitulo}}</a>
                    {% endif %}
                {%endif%}
            {% else %}
                <a href="#" class="list-group-item list-group-item-action disabled">capitulo: {{capitulo.capitulo}} sera lanzado el {{capitulo.fecha_lanzamiento|date:"D d M Y"}}</a>
            {% endif %}
            {% if request.user.is_staff %}
                <a href="/modificar_capitulo/id={{capitulo.id}}">Modificar</a>
                <a href="/admin/modelos/capitulo/{{capitulo.id}}/delete/" class="badge badge-danger"> Eliminar </a>
            {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}