{% extends "listado.html" %}
{% block estilos %}
      #boton_personalizado{
        text-decoration: none;
        top:50px;
        padding: 5px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        background-color: black;
        border-radius: 4px;
        font-family: "Roboto";
        margin-left: 5px;
      }
{% endblock %}
{% block agregar_atributo %}
  <p style="margin-top: 10px";> <a id="boton_personalizado"  href="/admin/modelos/genero/add/"> Agregar Genero </a></p>
{% endblock %}
{% block listado %}
    <table>
    {% for genero in objeto_pagina %}
      <tr>
        <td style="padding-top: 10px">
          {{genero.nombre}}
        </td>
        <td>
            <a id="boton_personalizado" href="/admin/modelos/genero/{{genero.id}}/change/"> Modificar </a>
            <a id="boton_personalizado" href="#"> Eliminar </a>
        </td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
