{% extends "header.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    {% block link %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock%}
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    {% block contenido %}
    {% block nuevo_modelo %} {% endblock %}
    {% if objeto_pagina %}
      <ul style="list-style:none; margin-left:500px">
        <li>
          {% if objeto_pagina.has_previous %}
            <a href="?page={{objeto_pagina.previous_page_number}}"> {{objeto_pagina.previous_page_number}}    </a>
          {% endif %}
          <span>  {{ objeto_pagina.number }}  </span>
          {% if objeto_pagina.has_next %}
            <a href="?page={{objeto_pagina.next_page_number}}">  {{objeto_pagina.next_page_number}}  </a>
          {% endif%}
        </li>
      </ul>

      <ul style="list-style:none;">
        {% block listado %} {% endblock %}
      </ul>

      <ul style="list-style:none; margin-left:500px">
        <li>
          {% if objeto_pagina.has_previous %}
            <a href="?page={{objeto_pagina.previous_page_number}}"> {{objeto_pagina.previous_page_number}}    </a>
          {% endif%}
          <span>  {{ objeto_pagina.number }}  </span>
          {% if objeto_pagina.has_next %}
          <a href="?page={{objeto_pagina.next_page_number}}">  {{objeto_pagina.next_page_number}}  </a>
          {% endif%}
        </li>
      </ul>
    {% else %}
      <h1> No hay {{modelo}} </h1>
    {% endif %}
    {% endblock %}

  </body>
</html>
