{% extends "header.html" %}

{% block estilos %}
#imagen {
transition: transform .1s;
}
#imagen:hover{
transform: scale(0.5);
}
#estilo-ul {
margin-left: 200px;
margin-top: 100px;
list-style:none;
}
#estilo-li {
position: relative;
display: inline-block;
margin-left: 35px;
}
span {
margin-top: 3px;
margin-left: 15px;
font-family: Arial;
display: block;
}
{% endblock %}

{% block contenido %}
{% if suscriptor.tiene_maximo_permitido %}
    <button onclick="alerta_error('La cantidad máxima de perfiles permitida son {{suscriptor.suscripcion.cantidad_maxima_perfiles}} por ser {{suscriptor.suscripcion.tipo_suscripcion|capfirst}}') "> Crear Perfil </button>
{% else %}
    <a href="/crear_perfil/"> Crear Perfil </a>
{% endif %}

<ul id="estilo-ul">

    {% for perfil in suscriptor.perfiles %}
    <li id="estilo-li">
        <a href="/eleccion_perfil/id={{perfil.id}}">
            {% if not perfil.foto %}
                <img id="imagen" src="/static/avatar.jpeg" alt="">
            {% else %}
                <img id="imagen" style="width:200px; height:140px"src="/static/{{perfil.foto}}" alt="">
            {% endif %}
            <span>{{perfil.nombre_perfil}} </span>
        </a>
        {% if not suscriptor.cantidad_perfiles == 1  %}
            <a onclick="return confirm('Desea eliminar el perfil {{perfil.nombre_perfil}}')" href="/eliminar_perfil/id={{perfil.id}}" class="badge badge-danger"> Eliminar </a>
        {% else %}
            <a onclick="alerta_error('Como minimo tiene que haber 1 perfil activo')" href="#" class="badge badge-danger"> Eliminar </a>
        {% endif %}
        <a href="/modificar_perfil/id={{perfil.id}}" class="badge btn btn-success"> Modificar Perfil </a>
    </li>
    {% endfor %}
</ul>

<script>
    function alerta_error(error){
        alert(error);
    }
</script>

{% endblock %}

