{% extends "listado.html" %}

{% block agregar_atributo %}
<a href="/cargar_trailer/" class="badge badge-success" style="padding:20; font-size:20" >Agregar Trailer</a>
{% endblock %}

{% block listado %}

<table class="table">

  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      {% if request.user.is_staff %}
        <th scope="col">Opciones</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
  {% for trailer in objeto_pagina %}
    <tr>
      {% if request.user.is_staff %}
      <th scope="row">{{trailer.titulo}}</th>
      <td>
          <a href="/detalle_trailer/id={{trailer.id}}" class="badge badge-primary"> Ver </a>
          <a href="/modificar_trailer/id={{trailer.id}}" class="badge badge-secondary"> Modificar </a>
          <a href="/admin/modelos/trailer/{{trailer.id}}/delete/" class="badge badge-danger"> Eliminar </a>
      </td>
      {% else %}
      <td><a href="/detalle_trailer/id={{trailer.id}}" style="color: black"> {{trailer.titulo}}</a></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
