{% extends "listado.html" %}
{% block estilos %}
      #boton_personalizado{
        text-decoration: none;
        top:50px;
        padding: 5px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        background-color: black;
        border-radius: 4px;
        font-family: "Roboto";
        margin-left: 5px;
      }
      table {
                width:100%;
              }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 15px;
        text-align: left;
          }
        table#t01 tr:nth-child(even) {
        background-color: #fff;
        }
        table#t01 tr:nth-child(odd) {
        background-color: #fff;
        }
        table#t01 th {
        background-color: black;
        color: white;
      }
{% endblock %}



{% block agregar_atributo %}
  <p style="margin-top: 10px";> <a id="boton_personalizado"  href="/cargar_metadatos_libro/"> Agregar Libro </a></p>
{% endblock %}
{% block listado %}

  <table id="t01">
    <thead>
      <tr>
        <th>Titulo</th>
        {% if request.user.is_staff %}
        <th>Genero</th>
        <th>Autor</th>
        <th>Editorial</th>
        <th>Fecha de Vencimiento</th>
        <th>ISBN</th>
        <th>Opciones</th>
        {% endif %}
      </tr>
    </thead>
    {% for libro in objeto_pagina %}
    <li style="margin-top: 10px">
            {% if request.user.is_staff %}

              <tbody>
              <tr>
                <td>{{libro.titulo}}</td>
                <td>{{libro.genero}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.editorial}}</td>
                {% if libro.fecha_vencimiento is none  %}
                    <td> - </td>
                {% else %}
                <td> {{libro.fecha_vencimiento|date:"D d M Y"}} </td>
                {% endif %}
                <td>{{libro.ISBN}}</td>
                <td> <a id="boton_personalizado" href="/detalle_libro/id={{libro.id}}"> Ver </a>     <!--
                  <a id="boton_personalizado" style="margin-left: 10px;" href="/admin/modelos/libro/{{libro.id}}/change/"> Modificar </a>
                -->
                <a id="boton_personalizado" style="margin-left: 10px;" href="/modificar_libro/id={{libro.id}}"> Modificar </a>
                <a id="boton_personalizado" style="margin-left: 10px;" href="/admin/modelos/libro/{{libro.id}}/delete/"> Eliminar </a>

                {% if not libro.esta_completo %}
                  <a id="boton_personalizado" style="margin-left: 10px;" href="/carga_libro_completo/id={{libro.id}}/"> Subir libro completo </a>
                  {%if not libro.fecha_lanzamiento %}
                    <a id="boton_personalizado" style="margin-left: 10px;" href="/cargar_capitulo/id={{libro.id}}"> Subir capitulo </a>
                  {% else %}
                    <a id="boton_personalizado" style="margin-left: 10px;" href="/modificar_fechas_libro/id={{libro.id}}/"> Cambiar Fechas </a>
                  {% endif %}
               {% else %}
                  <a id="boton_personalizado" style="margin-left: 10px;" href="/modificar_fechas_libro/id={{libro.id}}/"> Cambiar Fechas </a>
               {% endif %}


                  <!-- Si no está completo, muestra los botones de subir completo o por capitulo -->






                </td>
              </tr>
              </tbody>
            {% else %}
            <tbody>
              <td><a href="/detalle_libro/id={{libro.id}}"> {{libro.titulo}}</a></td>
            </tbody>
            {% endif %}
    </li>
  {% endfor %}
  </table>
{% endblock %}
