{% extends "listado.html" %}

{% block agregar_atributo %}
    <a href="/cargar_novedad/" class="badge badge-success" style="padding:20; font-size:20">Agregar Novedad</a>
{% endblock %}

{% block listado %}

<table class="table">

  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      {% if request.user.is_staff %}
        <th scope="col">Opciones</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
  {% for novedad in objeto_pagina %}
    <tr>

      {% if request.user.is_staff %}
      <th scope="row">{{novedad.titulo}}
      <td>
          <a href="/detalle_novedad/id={{novedad.id}}" class="badge badge-primary"> Ver </a>
          <a href="/modificar_novedad/id={{novedad.id}}" class="badge badge-secondary"> Modificar </a>
          <a href="/admin/modelos/novedad/{{novedad.id}}/delete/" class="badge badge-danger"> Eliminar </a>
      </td>
        {% else %}
        <td><a href="/detalle_novedad/id={{novedad.id}}" style="color: black"> {{novedad.titulo}}</a></td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
