{% extends "header.html" %}

    {% block estilos %}
        #boton_personalizado{
          text-decoration: none;
          padding: 10px;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          background-color: black;
          border-radius: 4px;
          font-family: "Roboto";
        }

    {% endblock %}

    {% block contenido %}
      {% if request.user.is_staff %}
        {% block agregar_atributo %} {% endblock %}
      {% endif %}

      {% if objeto_pagina %}
        <ul style="list-style:none; margin-left:500px">
          <li>
            {% if objeto_pagina.has_previous %}
              <a href="?page={{objeto_pagina.previous_page_number}}"> {{objeto_pagina.previous_page_number}}    </a>
            {% endif %}
            <span>  {{ objeto_pagina.number }}  </span>
            {% if objeto_pagina.has_next %}
              <a href="?page={{objeto_pagina.next_page_number}}">  {{objeto_pagina.next_page_number}}  </a>
            {% endif%}
          </li>
        </ul>
        <ul style="list-style:none;">
          {% block listado %} {% endblock %}
        </ul>

      {% else %}
        <h1> No hay {{modelo}} </h1>
      {% endif %}
    {% endblock %}

  </body>
</html>
