{% extends "listado.html" %}

{% block agregar_atributo %}
  <a href="/cargar_metadatos_libro/" class="badge badge-success" style="padding:20; font-size:20">Agregar Libro</a>
{% endblock %}
{% block listado %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>

      <th>Genero</th>
      <th>Autor</th>
      <th>Editorial</th>
      {% if request.user.is_staff %}
      <th>Fecha de Vencimiento</th>
      <th>ISBN</th>
      <th>Opciones</th>
      {% endif %}
    </tr>
  </thead>
  {% for libro in objeto_pagina %}
  <li style="margin-top: 10px">
    {% if request.user.is_staff %}
    <tbody>
    <tr>
      <td>{{libro.titulo}}</td>
      <td>{{libro.genero}}</td>
      <td>{{libro.autor}}</td>
      <td>{{libro.editorial}}</td>
      {% if libro.fecha_vencimiento is none  %}
        <td> - </td>
      {% else %}
        <td> {{libro.fecha_vencimiento|date:"D d M Y"}} </td>
      {% endif %}
      <td>{{libro.ISBN}}</td>
      <td>
      <a href="/detalle_libro/id={{libro.id}}" class="badge badge-primary" >Ver</a>
      <a href="/modificar_libro/id={{libro.id}}" class="badge badge-secondary">Modificar</a>
      <a href="/admin/modelos/libro/{{libro.id}}/delete/" class="badge badge-danger">Eliminar</a>

      {% if not libro.esta_completo %}
          <a href="/carga_libro_completo/id={{libro.id}}/" class="badge badge-info">Subir libro completo</a>
        {%if not libro.fecha_lanzamiento %}
          <a href="/cargar_capitulo/id={{libro.id}}" class="badge badge-info">Subir capitulo</a>
        {% else %}
          <a href="/modificar_fechas_libro/id={{libro.id}}/" class="badge badge-warning">Cambiar Fechas</a>
        {% endif %}
        {% else %}
        <a href="/modificar_fechas_libro/id={{libro.id}}/" class="badge badge-warning">Cambiar Fechas</a>
      {% endif %}
      <!-- Si no está completo, muestra los botones de subir completo o por capitulo -->
      </td>
    </tr>
    </tbody>
    {% else %}

    <tbody>
    <td><a href="/detalle_libro/id={{libro.id}}" style="color: black"> {{libro.titulo}}</a></td>
    <td>{{libro.genero}}</td>
    <td>{{libro.autor}}</td>
    <td>{{libro.editorial}}</td>
    </tbody>
    {% endif %}
    </li>
  {% endfor %}
  </table>
{% endblock %}
