{% extends "listado.html" %}
{% block agregar_atributo %}
   <a href="/cargar_editorial/" class="badge badge-success" style="padding:20; font-size:20">Agregar Editorial</a>
{% endblock %}

{% block listado %}
<table class="table">

  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>

  <tbody>
  {% for editorial in objeto_pagina %}
  <tr>
      <th scope="row">{{editorial.nombre}}</th>
      <td>
          <a href="/modificar_editorial/id={{editorial.id}}/" class="badge badge-secondary"> Modificar </a>
          <a href="#" class="badge badge-danger"> Eliminar </a>
      </td>

    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}
