{% extends "header.html"%}
    {% block link %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock%}
    {% block estilos %}

            label{
                font-family: Arial;
            }
            #id_Nombre,#id_Apellido,#id_Email,#id_Contrasena,#id_Numero_de_Tarjeta,#id_Fecha_de_vencimiento,
            #id_DNI,#id_Empresa,#id_Codigo_de_seguridad,#id_Suscripcion{
                display: block;
                width: 400px;
            }
    {% endblock %}
    <title>Carga de {{nombre}}</title>
    {% block contenido %}
    <br>
    <div style="margin-left:400px">
        <form method="POST">
            {% csrf_token %}
            {{formulario.as_p}}

            <!--<input type="submit" value= "Confirmar" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
            <input class="btn btn-success" type="submit" value= "Confirmar">
            <a href="/" class="badge badge-danger" style="padding:13px"> Cancelar</a>

        </form>

    </div>


    {% endblock %}
