{% extends 'header.html' %}
{% block contenido %}

<h1> Reporte suscriptores</h1>
<h2> Seleccione los suscriptores dados de alta entre dos fechas </h2>
{{error}}
<form method="GET">
    <label> Fecha de Inicio</label>
    <input type="date" name="fecha_inicio">
    <label> Fecha de Fin </label>
    <input type="date" name="fecha_fin">
    <input type="submit" value="Buscar">

</form>

{% if suscriptores %}
    <h1>Los usuarios entre las fechas {{fecha_inicio}} y {{fecha_fin}} son:</h1>
    <nav aria-label="Page navigation example">
        <div align="center">

            <ul class="pagination" align="center">
                {% if suscriptores.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{suscriptores.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% if suscriptores.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{suscriptores.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif%}
            </ul>

        </div>
    </nav>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha registro</th>
        </tr>
        </thead>
        {% for suscriptor in suscriptores %}
        <tbody>
        <tr>
            <td>{{suscriptor.nombre}}</td>
            <td>{{suscriptor.apellido}}</td>
            <td>{{suscriptor.auth.username}}</td>
            <td>{{suscriptor.fecha_suscripcion}}</td>

        </tr>
        </tbody>

        {% endfor %}
    </table>
{% else %}
    <h1> No hay resultados </h1>
{% endif %}
{% endblock%}