{% extends "header.html" %}

{% block contenido %}

<body background="/static/fondo.jpg" style="transparency:50">

{% if objeto_pagina %}

<br><br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        {% for libro in objeto_pagina %}
            {% if forloop.counter == 1 %}
                <div class="carousel-item active"  align="center">
                    <a href="/registro/" style="color:white">
                        <img class="d-block w-"  src="{% if libro.foto %}{{MEDIA_URL}}{{libro.foto.url}}{% else %}/static/foto_por_defecto.jpeg{% endif %}" style="width:214; height:340"/>
                        {{libro.titulo}} de {{libro.autor}}
                    </a>
                </div>
            {% else %}
                <div class="carousel-item"  align="center">
                    <a href="/registro/" style="color:white">
                        <img class="d-block w-" alt="{{libro.titulo}} de {{libro.autor}}" src="{% if libro.foto %}{{MEDIA_URL}}{{libro.foto.url}}{% else %}/static/foto_por_defecto.jpeg{% endif %}" style="width:214; height:340"/>
                        {{libro.titulo}} de {{libro.autor}}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</div>

{% endif %}
</body>

{% endblock %}
