{% extends "header.html" %}
{% load static %}
{% block link %}
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock%}

{% block estilos %}
    img {
        width: 250px;
    }
{% endblock %}

{% block contenido %}
  <div>
      {% if objeto_pagina %}
        <ul style="list-style:none;">
          {% for libro in objeto_pagina %}
          <li>
              <label> Titulo </label>
              <a href="/registro/"> {{libro.libro.titulo}} </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
  </div>
{% endblock %}
